<h1 class ="bg-gray-100 p-6 rounded mx-auto shadow-md max-w-xs">
    test tailwind
</h1>
<section>
            <p [class]="isPair ? 'green' : 'red' "> Count : {{ count }}</p>
</section>

<section>
    <button (click)="decrement()"> Decrement </button>
    <button (click)="increment()"> Increment </button>
</section>

    <p> ce compteur ci-dessous est un test pas encore fini, ne fais pas attention</p>
    <label for="counter">Count :</label>
    <input id = "counttext" value=0 name="ageanimal" type="number"  min="-200" max="200" onKeyDown="return false" />
