<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
        <mapping class="org.example.Demos.Demo1.entity.Personne" /> #demo
        -->

        <mapping class="org.example.Exercises.exo1.entity.Product" />
        <mapping class="org.example.Exercises.exo1.entity.Comment" />
        <mapping class="org.example.Exercises.exo1.entity.Image" />


    </session-factory>
</hibernate-configuration>

