<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<span th:replace="~{homepage :: navbar}"></span>
<h1> Category table list : </h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    <tr th:each="c :${categories}">
        <td th:text="${c.getId()}"></td>
        <td th:text="${c.getName()}"></td>
        <td th:text="${c.getDescription()}"></td>
        <td> <a th:href="@{categories/detail/{id}(id=${c.getId()})}"> Detail </a> </td>

    </tr>


</table>

</body>
</html>