<p>post-list works!</p>

        <h2>Search Pokemon</h2>
        <form [formGroup]="search_form" (ngSubmit)="searchPokemon()">
            <label for="searchId">Search by id</label>
            <input type="number" name="searchId" formControlName="searchId" class="border border-solid to-black">
            <button type="submit">Search</button>   
        </form>
        <br>
        <img src={{search_result.sprites.front_default}}>
        <p> <a class="font-bold">Name</a> : {{search_result.forms[0].name}} </p> 
        <p> <a class="font-bold">Weight</a> : {{search_result.weight}} </p>
        <p> <a class="font-bold">Height</a> : {{search_result.height}}  </p>
        <br>

        <div>
        
        <a class="font-bold text-gray-900">Moves</a> :  
        <p>       
            @for (move of search_result.moves; track move; let i = $index){
            {{move.move.name}} |
            }
        </p>
        </div>
    
