<nav>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>

        <li>
            <a routerLink="/blocks">Blocks</a>
        </li>

        <li>
            <a routerLink="/pipes">Pipes</a>    
        </li>

        <li>
            <a routerLink="/counter">Counter</a>
        </li>

        <li>
            <a routerLink="/series">Series</a>
        </li>

        <li>
            <a routerLink="/library">Library</a>
        </li>

        <li>
            <a routerLink="/form">Form</a>
        </li>



    </ul>
</nav>