<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe detail</title>
</head>
<body>
<span th:replace="~{homepage :: navbar}"></span>

<br>

<h1> Recipe detail (ID = <a th:text="${recipe.getId()}"></a>)</h1>

<div th:object="${recipe}">
    <p>Name : <a th:text="*{name}"></a></p>
    <p>Ingredients : <a th:text="*{ingredients}"></a></p>
    <p>Instructions : <a th:text="*{instructions}"></a></p>
    <p>Category : <a th:text="*{category.getName()}"></a></p>
</div>

</body>
</html>
