table,tr, th,td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    width: 300px;

}

th{
    font-weight: bold;
    background-color: cadetblue;
}


td{
    background-color: cornflowerblue;
}

tr>th:last-of-type{
    color: brown;
    background-color : darkgreen;
}
tr>td:last-of-type{
    background-color:yellow;
}

h1.table{
    color: hotpink;
}

h2.emptymessage{
    color: red;
}

img{
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
}
@keyframes spinimage{
    from{transform:rotate(0turn);}
    to{transform: rotate(1turn)}
    }
.cryingcat{
    animation: spinimage 10s linear infinite;

}

